APScheduler==3.10.4
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
Naked==0.1.32
pycryptodome==3.21.0
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
shellescape==3.8.1
six==1.16.0
tzlocal==5.2
urllib3==2.2.3
websocket-client==1.8.0
